.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: rgb(46, 226, 22);
  padding: 8px 24px;
  border-radius: 4px;
  background: #f308dc;
  transition: background 0.3s ease;
  padding: 9px;
  margin: 10px;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

ol {
  justify-content: space-around;
  display: flex;
  list-style: none;
}

#letters-container {
  width: 30%;
}


/* style.css */

ol li {
  cursor: grab;
}

ol li:active {
  cursor: grabbing;
}

ol li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}
